@use '../util' as *;

//For Flexbox
.flex{
    display: flex;
    &__jc-sb{
        justify-content: space-between;
    }
    &__jc-c{
        justify-content: center;
    }
    &__jc-ai{
        align-items: center;
    }
    &__jc-end{
        justify-content: flex-end;
    }
}

//For Grid
.grid{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    &__ji-c{
        justify-items: center;
    }
    &__ai-c{
        align-items: center;
    }
    @include breakpoint(large){
        grid-template-columns: repeat(2,1fr);
    }
}
.heading{
    color: black;
    text-transform: uppercase;
    font-family: var(--font-josefin);
    letter-spacing: rem(5);
    padding-top: rem(60);
    font-size: rem(32);
    @include breakpoint(large){
        letter-spacing: rem(8);
        padding-top: rem(20);
        font-size: rem(40);
    }

    
}
.para{
    color: var(--very-dark-gray);
    font-family: var(--font-alata);
    font-size: rem(14);
    padding-top: rem(38);
    @include breakpoint(large){
        font-size: rem(16);
        padding-top: rem(45);
    }
}   



//Hide
.hide-for-mobile{
    @include breakpoint-down(medium){
        display: none;
    }
}


.hide-for-desktop{
    @include breakpoint(large){
        display: none;
    }
}

.posters{
    @include breakpoint-down(small){
        background-repeat: no-repeat;
        position: relative;
        background-size: cover;
        display: flex;
        align-items: flex-end;
        overflow: hidden;
        height: 20vh;
    }
    @include breakpoint(large){
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    height: 60vh;
}
}
.links{
    @include breakpoint-down(small){
        color: white;
        font-family: var(--font-alata);
        font-size: rem(14);
        padding-top: rem(45);
        display: block;
    }
    color: white;
    font-family: var(--font-alata);
    font-size: rem(14);
    padding-right: rem(30);
}
.pr{
    padding-right: rem(15);
}
.pr2{
    padding-right: rem(20);
}
.copyright{
    color: var(--very-dark-gray);
    font-family: var(--font-alata);
}
.category{
    @include breakpoint-down(small){
        color: white;
        margin-left: rem(42);
        font-family: var(--font-josefin);
        font-size: rem(30);
        margin-top: rem(150);
        position: absolute;
    }
    @include breakpoint(large){
        color: white;
        margin-left: rem(42);
        font-family: var(--font-josefin);
        font-size: rem(30);
        margin-top: rem(150);
        position: absolute;
    }
}